*.js
*.map
node_modules/*
jspm_packages/*
!package.js
!package-windows.js
!webpack.config.js
!webpack.dev.config.js
!webpack-main.config.js
!webpack-main.dev.config.js
!dist/**/*.js
!dist/**/*.map
!dist-dev/**/*.js
!dist-dev/**/*.map
!packages/**
