<div class="profile">
  <div class="logo" style="background-color: {{logoColor}};">{{logo}}</div>
  <div class="info">
    <div class="label">Name</div>
    <div class="name">{{name}}</div>
    <div class="label">Online For</div>
    <div class="uptime">{{uptime}}</div>
    <div class="label">Server Address</div>
    <div class="server-addr">{{serverAddr}}</div>
    <div class="label">Client Address</div>
    <div class="client-addr">{{clientAddr}}</div>
  </div>
  <div class="open-menu no-select">
    <i class="fa fa-bars"></i>
  </div>
  <div class="menu-backdrop"></div>
  <div class="menu">
    <div class="connect item btn btn-success">Connect</div>
    <div class="rename item btn btn-info">Rename</div>
    <div class="delete item btn btn-danger">Delete</div>
    <div class="autostart item btn btn-warning">Autostart</div>
    <div class="view-logs item btn btn-action">View Logs</div>
    <div class="edit-config item btn btn-default">Edit Config</div>
  </div>
  <div class="config">
    <pre class="editor"></pre>
    <div class="btns">
      <div class="btn btn-danger cancel">Cancel</div><div class="btn btn-success save">Save Profile</div>
    </div>
  </div>
  <div class="logs">
    <pre class="editor"></pre>
    <div class="btns">
      <div class="btn btn-danger close">Close</div><div class="btn btn-info clear">Clear</div>
    </div>
  </div>
</div>
