<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.pritunl.client</string>
	<key>Program</key>
	<string>/Applications/Pritunl.app/Contents/MacOS/Pritunl</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Applications/Pritunl.app/Contents/MacOS/Pritunl</string>
		<string>--no-main</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>LaunchOnlyOnce</key>
	<true/>
</dict>
</plist>
