[Desktop Entry]
Name=Pritunl Client
Comment=Pritunl openvpn client
Exec=/usr/lib/pritunl_client_electron/Pritunl --gtk-version=3
Terminal=false
Type=Application
StartupNotify=false
Icon=pritunl_client_electron
Categories=Network;TrayIcon;
StartupWMClass=pritunl
