*, *:before, *:after {
  box-sizing: border-box;
}

html {
  height: 100%;
}
body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #14171a;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

::-webkit-scrollbar {
  width: 15px;
  background: #171a1d;
}
::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #364351;
}

.btn {
  cursor: pointer;
}
.btn:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn.btn-default {
  background-color: #575757;
}
.btn.btn-default:hover {
  background-color: #414141;
}
.btn.btn-success {
  background-color: #5cb85c;
}
.btn.btn-success:hover {
  background-color: #449d44;
}
.btn.btn-info {
  background-color: #5bc0de;
}
.btn.btn-info:hover {
  background-color: #31b0d5;
}
.btn.btn-warning {
  background-color: #f0ad4e;
}
.btn.btn-warning:hover {
  background-color: #ec971f;
}
.btn.btn-danger {
  background-color: #d9534f;
}
.btn.btn-danger:hover {
  background-color: #c9302c;
}
.btn.btn-action {
  background-color: #5229b5;
}
.btn.btn-action:hover {
  background-color: #3b1c84;
}


.header {
  -webkit-app-region: drag;
  background-color: #1c2126;
  position: relative;
  padding-bottom: 13px;
}
.header .btns {
  display: inline-block;
  margin: 14px 0 0 12px;
}
.header .btns .btn {
  -webkit-app-region: no-drag;
  display: inline-block;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  margin: 0 2px;
}
.header .logo {
  color: #fff;
  display: inline-block;
  font-family: 'Fredoka One', cursive;
  position: absolute;
  top: 8px;
  right: 14px;
  font-size: 24px;
}



.profiles {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.profiles .list {
  overflow-y: auto;
  height: 100%;
  flex: 1;
}
.profiles .btns .btn {
  padding: 18px;
  text-align: center;
  font-size: 22px;
  color: #fff;
}


.profile {
  height: 204px;
  position: relative;
  color: #fff;
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 100%;
  transition: height 125ms linear;
  overflow: hidden;
}
.profile.editing {
  height: 312px;
}
.profile + .profile {
  border-top: 1px solid #242a30;
}
.profile .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #5f1616;
  background-color: #195e29;
  background-color: #472579;
  font-size: 27px;
}
.profile .info {
  flex: 1;
  margin: 14px 0 14px 14px;
  white-space: nowrap;
  overflow: hidden;
}
.profile .info .label {
  margin-top: 15px;
  margin-bottom: 1px;
  font-size: 13px;
  color: #515356;
  text-transform: uppercase;
}
.profile .info .label:first-child {
  margin-top: 0;
}
.profile .open-menu {
  padding: 7px 13px 0 13px;
  font-size: 24px;
}
.profile .open-menu i {
  cursor: pointer;
}
.profile .menu {
  position: absolute;
  right: 0;
  display: none;
}
.profile .menu-backdrop {
  background-color: rgba(0, 0, 0, .65);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
}
.profile .menu .item {
  color: #fff;
  width: 104px;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile .config {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
}
.profile .config .editor {
  width: 100%;
  height: 260px;
  margin: 0;
}
.profile .config .btn {
  width: 50%;
  display: inline-block;
  font-size: 20px;
  padding: 14px;
}

.profile .config ::-webkit-scrollbar {
  width: 9px;
  height: 9px;
  background: #042b4d;
}
.profile .config ::-webkit-scrollbar-thumb {
  background: #1b6bb0;
}
